*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#notification-box-of-boxes {
max-width:450px; width: fit-content;
animation: dim 1.5s ease-in-out forwards;
}

@keyframes dim{
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
}

@media screen and (max-width:500px){
  #notification-box-of-boxes {
    max-width:90%; width: fit-content;
    animation: dim 1.5s ease-in-out forwards;
    }
}