* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#notification-box-of-boxes {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #ddd;
  word-wrap: break-word;
  cursor: pointer;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  animation: dim 1.5s ease-in-out forwards;
}

#notification-box-of-boxes.nm-success {
  background: #23c55e;
  color: #000;
}
#notification-box-of-boxes.nm-danger {
  background: #eb5f51;
  color: #000;
}
#notification-box-of-boxes.nm-warning {
  background: #feb601;
  color: #000;
}
#notification-box-of-boxes.nm-info {
  background: #4f5bd5;
  color: #ffffff;
}
#notification-box-of-boxes.nm-default {
  background: #24282f;
  color: #ffffff;
}
#notification-box-of-boxes.top-right {
  right: 2%;
  top: 2%;
  z-index: 1000000;
}
#notification-box-of-boxes.top-left {
  left: 2%;
  top: 2%;
  z-index: 1000000;
}
#notification-box-of-boxes.top-center {
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}
#notification-box-of-boxes.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}
#notification-box-of-boxes.bottom-left {
  left: 2%;
  bottom: 2%;
  z-index: 1000000;
}
#notification-box-of-boxes.bottom-right {
  right: 2%;
  bottom: 2%;
  z-index: 1000000;
}
#notification-box-of-boxes.bottom-center {
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}

#notification-box-of-boxes b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-weight: 800;
}
#notification-box-of-boxes p {
  flex: 1;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 6px 0;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
#notification-box-of-boxes .nonny-alertLoader {
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgb(245, 245, 248), rgb(245, 245, 248));
  border-radius: 12px;
  left: 0;
  bottom: 0;
  transition: all 2s;
}

@keyframes dim {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
#nonny-modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: -5000px;
  top: 0;
  padding: 55px 10px 10px 10px;
  background: rgba(2, 2, 36, 0.499);
  transition: 0.2s ease;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0;
  z-index: 100000000;
}
#nonny-modal-box.modal-visible {
  margin-top: 0;
}
#nonny-modal-box::-webkit-scrollbar {
  width: 0;
  display: none;
}
#nonny-modal-box .nonny-modal-div {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #edf1f4;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  margin-top: -5000px;
  transform: scale(0);
  transition: 1.2s ease;
}
#nonny-modal-box .nonny-modal-div.scaled {
  margin-top: 0;
  transform: scale(1);
}
#nonny-modal-box .nonny-modal-div span {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -40px;
  background: rgb(5, 215, 5);
  color: #edf1f4;
  font-size: 45px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}
#nonny-modal-box .nonny-modal-div.nm-success span {
  background: #23c55e;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-warning span {
  background: #feb601;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-info span {
  background: #4f5bd5;
  color: #fff;
}
#nonny-modal-box .nonny-modal-div.nm-danger span {
  background: #eb5f51;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-default span {
  background: #24282f;
  color: #fff;
}
#nonny-modal-box .nonny-modal-div p {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
  word-wrap: break-word;
}
#nonny-modal-box .nonny-modal-div h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 50px;
}
#nonny-modal-box .nonny-modal-div button {
  width: 80%;
  background: rgb(5, 215, 5);
  color: #edf1f4;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #ffffff;
  cursor: pointer;
  transition: transform 1s;
}
#nonny-modal-box .nonny-modal-div.nm-success button {
  background: #23c55e;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-warning button {
  background: #feb601;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-info button {
  background: #4f5bd5;
  color: #fff;
}
#nonny-modal-box .nonny-modal-div.nm-danger button {
  background: #eb5f51;
  color: #000;
}
#nonny-modal-box .nonny-modal-div.nm-default button {
  background: #24282f;
  color: #fff;
}
#nonny-modal-box .nonny-modal-div button:hover {
  transform: scale(1.1);
}
#nonny-confirm-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 1000000;
}
#nonny-confirm-box #alertContainerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 450px;
  width: 100%;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  word-wrap: break-word;
}
#nonny-confirm-box #alertContainerDiv #alertTextArea {
  width: 100%;
  color: rgb(13 17 23 / 1);
  font-weight: 600;
  font-size: 16px;
  pointer-event: auto;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}
#nonny-confirm-box #alertContainerDiv .nonny-alertBtn {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}
#nonny-confirm-box #alertContainerDiv .nonny-alertBtn .conf_ok {
  border: none;
  background: #23c55e;
  color: #242526;
  outline: none;
  padding: 6px 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}
#nonny-confirm-box #alertContainerDiv .nonny-alertBtn .conf_decl {
  border: none;
  background: #eb5f51;
  color: #fff;
  outline: none;
  padding: 6px 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  #notification-box-of-boxes {
    max-width: 90%;
    width: -moz-fit-content;
    width: fit-content;
    animation: dim 1.5s ease-in-out forwards;
  }
}
